<div class="container">
    <h2 class="text-center">客户信息{{actionName}}</h2>    
    <form class="form-horizontal" ng-if="isShowSaveCustomer">
        <div class="form-group" ng-hide="true">
            <label for="CID" class="col-sm-2 control-label">序号</label>
            <div class="col-sm-10">
                <input type="text" id="CID" class="form-control" ng-model="customer.model.CID" />
            </div>
        </div>
        <div class="form-group">
            <label for="CategoryID" class="col-sm-2 control-label">客户编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="customer.model.CustomerNo" placeholder="请输入客户分类名称,例如：G0001" />
            </div>
        </div>
        <div class="form-group">
            <label for="CategoryID" class="col-sm-2 control-label">卡分类</label>
            <div class="col-sm-10">
                <select class="form-control"
                        ng-model="customer.model.CardType"
                        ng-options="cardtype.name for cardtype in customer.sections.cards">
                    <option value="">--请选择卡分类--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="CategoryID" class="col-sm-2 control-label">客户分类</label>
            <div class="col-sm-10">
                <select class="form-control"
                        ng-model="customer.model.CategoryID"
                        ng-options="category.name for category in customer.sections.categories">
                    <option value="">--请选择客户分类--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Dietitian" class="col-sm-2 control-label">*营养顾问</label>
            <div class="col-sm-10">
                <input type="text" id="Dietitian" class="form-control" ng-model="customer.model.Dietitian" placeholder="请输入营养顾问，例如：张三" />
            </div>
        </div>
        <div class="form-group">
            <label for="CName" class="col-sm-2 control-label">*客户姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="customer.model.CName" placeholder="请输入客户姓名，例如：张三" />
            </div>
        </div>
        <div class="form-group">
            <label for="Addr" class="col-sm-2 control-label">*客户地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="customer.model.Addr" placeholder="请输入客户地址，例如：深圳" />
            </div>
        </div>
        <div class="form-group">
            <label for="Addr" class="col-sm-2 control-label">客户详细地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="customer.model.Address" placeholder="请输入客户详细地址，例如：深圳市宝安区龙井二路……" />
            </div>
        </div>
        <div class="form-group">
            <label for="Gender" class="col-sm-2 control-label">*性别</label>
            <div class="col-sm-10">
                <!--<input type="text" id="Gender" class="form-control" ng-model="customer.model.Gender" placeholder="请输入性别，例如：男" />-->
                <select class="form-control"
                        ng-model="customer.model.Gender"
                        ng-options="gender.name for gender in customer.sections.gender">
                    <option value="">--选择性别--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="CategoryID" class="col-sm-2 control-label">*婚否</label>
            <div class="col-sm-10">
                <select class="form-control"
                        ng-model="customer.model.Married"
                        ng-options="merried.name for merried in customer.sections.married">
                    <option value="">--请选择婚否--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Age" class="col-sm-2 control-label">*年龄</label>
            <div class="col-sm-10">
                <input type="text" id="Age" class="form-control" ng-model="customer.model.Age" placeholder="请输入年龄，例如：30" />
            </div>
        </div>
        <div class="form-group">
            <label for="Birthday" class="col-sm-2 control-label">生日</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" date-time auto-close="true" ng-model="customer.model.Birthday" required="" min-view="date" max-view="year" placeholder="请输入生日，例如：1980-08-08" format="yyyy-MM-dd">
            </div>
        </div>
        <div class="form-group">
            <label for="Height" class="col-sm-2 control-label">*身高</label>
            <div class="col-sm-10">
                <input type="text" id="Height" class="form-control" ng-model="customer.model.Height" placeholder="请输入身高，例如：170" />
            </div>
        </div>
        <div class="form-group">
            <label for="Weight" class="col-sm-2 control-label">*原始体重</label>
            <div class="col-sm-10">
                <input type="text" id="Weight" class="form-control" ng-model="customer.model.Weight" placeholder="请输入体重信息，例如：40" />
            </div>
        </div>
        <div class="form-group">
            <label for="Contact" class="col-sm-2 control-label">联系方式</label>
            <div class="col-sm-10">
                <input type="text" id="Contact" class="form-control" ng-model="customer.model.Contact" placeholder="请输入联系方式，电话号码" />
            </div>
        </div>
        <div class="form-group">
            <label for="Contact" class="col-sm-2 control-label">备注信息（最大100字）</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="customer.model.remark" ng-model="customer.model.Remark" placeholder="请输入选填信息，比如是客户习惯等信息" ></textarea>
            </div>
        </div>        
    </form>
    <hr />
    <div ui-view></div>
    <hr />
    <div class="form-group" ng-if="isShowSaveCustomer">
        <div class="col-sm-offset-2 col-sm-4">
            <a href="javascript:;" class="btn btn-primary form-control" ng-click="save()">保存</a>            
        </div>
        <div class="col-sm-offset-2 col-sm-4">
            <a href="#/customer/general" class="btn btn-default form-control">取消</a>
        </div>
    </div>
</div>